
    <div class = "randomBeer">
        <img src="<%= data.image_url %>" alt="Some beer">
        <h2><%= data.name %></h2>
        <p><%= data.description %></p>
        <p><%= data.tagline %></p>
        <p><%= data.food_pairing %></p>
        <p><%= data.brewers_tips %></p>
        
    </div>
